extends layout

block content
  #content
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") #{title}
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href="/auth/vso/logOut") Log out
            else
              li
                a(href="/auth/vso") Log in
  
    if (user === undefined)
      .container#main-container
        .row
          .col-sm-8
            h2.lead.
              #{title} is a simple web app that aggregates all active bugs created by and assigned to a 
              specific user instead of making you go to each team's VSO and manage multiple queries.
            h2.lead. 
              If you have a question, found a bug, or have a feature request, please visit this project on 
              GitHub and log it there.
    
    if (user)
      .container#main-container
        .row
          .col-sm-3
            form#name-form
              .form-group
                label(for="name") Who are you interested in?
                input.form-control#name(type="text", value="#{formData.name}", placeholder="i.e. Satya Nadella")
                p#name-error.text-danger
                button.btn#wrangle-button Wrangle
            
            hr 
            p.small.
              If you have a question, found a bug, or have a feature request, please visit this project on 
              GitHub and log it there.
                
          .col-sm-9
            if (assignedToBugs == null) 
              h2.lead#empty-message Use the form on the left to specify a name and a bug report will be generated here.
            else 
              .toolbar
                button#send-email.btn.btn-primary.toolbar-button Email report
                button#refresh.btn.btn-primary.toolbar-button Refresh
              #bug-report
                if (assignedToBugs.length > 0)                  
                  h4 Bugs assigned to #{formData.name}
                  table.table.table-striped
                    thead
                      tr
                        th ID
                        th State
                        th Title
                    tbody
                      each bug in assignedToBugs
                        tr(class=bug.class)
                          td #{bug.fields['System.Id']}
                          td #{bug.fields['System.State']}
                          td: a(href="https://office.visualstudio.com/DefaultCollection/_workitems/edit/#{bug.fields['System.Id']}", target="_blank") #{bug.fields['System.Title']}
                else 
                  h4 Bugs assigned to #{formData.name}  
                    p <small><em>None</em></small>
                
                if (createdByBugs.length > 0 )
                  #created-by-bugs
                    h4 Bugs created by #{formData.name}          
                    table.table.table-striped
                      thead
                        tr
                          th ID
                          th State
                          th Assigned to
                          th Title
                      tbody
                        each bug in createdByBugs
                          tr(class=bug.class)
                            td #{bug.fields['System.Id']}
                            td #{bug.fields['System.State']}
                            td #{bug.fields['System.AssignedTo']}
                            td: a(href="https://office.visualstudio.com/DefaultCollection/_workitems/edit/#{bug.fields['System.Id']}", target="_blank") #{bug.fields['System.Title']}
                else 
                  #created-by-bugs
                    h4 Bugs created by #{formData.name}  
                      p <small><em>None</em></small>
