body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inline-me {
 display: inline; 
}

.header {
  width: auto;
}

#main-container {
  margin-top: 20px;
}

#name-error {
  margin-top: 10px;
}

#created-by-bugs {
  margin-top: 30px;
}

#empty-message {
  margin-left: 30px;
}

.toolbar {
  margin-bottom: 25px;
}

.toolbar-button {
  width: 150px;
  margin-right: 10px;
}